@use 'core/reset';
@use 'layout/footer';
@use 'pages/home';
@use 'pages/dailyui';

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

body {
	background-color: rgb(161, 162, 167);
	font-family: "Source Sans Pro", sans-serif;
}

main {
	min-height: 100vh;
	margin-bottom: -100px;
}

.push {
	height: 100px;
}

a {
	text-decoration: none;

	&:hover {
		color: rgb(97, 98, 102);
	}
}
