@use '../utilities/variables';

.footer-social {
	align-items: center;
	bottom: 0;
	display: flex;
	height: 87px;
	justify-content: center;
	position: fixed;
	width: 100vw;
	@media (min-width: variables.$breakpoint-desktop) {
		height: 120px;
	}

	.footer-social-icons {
		background: #5e699b;
		border-radius: 100px;
		text-align: center;

		li:last-of-type {
			margin-right: 0;
		}

		li {
			display: inline-block;
			padding: 1rem 1.5rem 1rem 1.5rem;
		}

		.fa {
			color: white;

			&:hover {
				color: darken(#070e3f, 1%);
				transition: color 0.3s ease-in;
			}

			@media (min-width: variables.$breakpoint-desktop) {
				font-size: 4rem;
			}
		}
	}
}
